@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}

@layer utilities {
  .min-h-custom {
    min-height: calc(100vh - 4rem);
  }
  .max-h-custom {
    max-height: calc(100vh - 4rem);
  }
}
